@font-face {
  font-family: "PicNic";
  src:
    local("PicNic"),
    url("/fonts/PicNic-Regular.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "DINish";
  src:
    local("DINish"),
    url("/fonts/DINish.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Serif";
  src:
    local("Noto Serif"),
    url("/fonts/NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Colors */
  --honey-yellow: 255, 196, 48;
  --pink-phanter: 243, 33, 100;
  --dark-navy: 19, 19, 29;
  --darker-navy: 13, 13, 21;
  --phantom-white: 246, 238, 226;
  --darker-phantom-white: 253, 224, 185;

  --red-wine: 199, 42, 90;
  --sweet-brown: 236, 190, 132;
  --text-marine: 42, 42, 42;

  /* Shadows */
  --light-shadows: 0 1px 13px #ababab, 0 1px 2px #ffffff;
  --black-shadows: 0 1px 3px #13131d, 0 1px 2px #13131d;

  /* Fonts */
  --font-heading: "Picnic";
  --font-body: "Noto Serif";
  --font-subtitle: "DINish";
}

/* Tema claro */
:root[data-theme="light"] {
  --color-primary: var(--red-wine);
  --color-secondary: var(--sweet-brown);

  --card-background: var(--darker-phantom-white);
  --card-shadow: var(--light-shadows);

  --background: var(--phantom-white);

  --font-color-primary: var(--text-marine);
}

/* Tema oscuro */
:root[data-theme="dark"] {
  --color-primary: var(--honey-yellow);
  --color-secondary: var(--pink-phanter);

  --card-background: var(--darker-navy);
  --card-shadow: var(--dark-shadows);

  --background: var(--dark-navy);

  --font-color-primary: var(--phantom-white);
}
