.games {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 5rem;
}

.games li {
  background: var(--color-bg-dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-height: 40px;
  padding: 1rem;
  position: relative;
}

.games li small {
  font-size: 0.75rem;
  color: var(--color-primary);
}
