.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: left;
}

.items > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  gap: 1rem;
}

.items > ul > li > a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: 600;
}

.items > li > a.active {
  text-decoration: underline wavy;
  text-decoration-color: #f42264;
}

.items > ul > li > a:hover {
  text-decoration: underline wavy;
  text-decoration-color: #f42264;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1.4px;
  text-underline-offset: 5px;
}

.hamburguer {
  display: none;
}

@media (max-width: 900px) {
  .items > ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }

  .hamburguer {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: initial;
    border: none;
    padding: 0;
    z-index: 40;
  }

  .hamburguer svg {
    width: 30px;
    height: 30px;
  }

  .hamburguer:hover svg {
    transition: all 0.2s ease-in-out;
    background: #141b2b;
    transform: scale(1.2);
    border-radius: 5px;
  }

  .open {
    position: absolute;
    backdrop-filter: blur(15px) brightness(0.7);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    top: 0;
    justify-content: center;
    animation: mobileFade 0.2s;
    animation-timing-function: linear;
  }

  .open > li > a {
    font-size: 1.25rem;
  }

  .close {
    animation: mobileFade 0.3s;
    animation-timing-function: linear;
    animation-direction: reverse;
  }
}

@keyframes mobileFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
