.container {
  display: flex;
}

.statsContainer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.avatar {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 80px;
  margin-right: 20px;
  border-radius: 15px;
  border: 1px solid #ffffff0d;
}

.info {
  font-weight: 600;
  font-size: 0.75rem;
  cursor: help;
}

.heart {
  margin-right: 5px;
}

.heartContainer {
  display: flex;
  cursor: help;
}

.progress {
  width: 100px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid white;
  cursor: progress;
}

.progress[value]::-webkit-progress-bar {
  width: 100%;
  transition: width 300ms ease;
  background: var(--color-background);
  background-color: var(--color-background);
}

.progress[value]::-webkit-progress-value {
  background: var(--color-primary);
  background-color: var(--color-primary);
  transition: width 300ms ease;
}

.progress::-moz-progress-bar {
  background: var(--color-primary);
  background-color: var(--color-primary);
  transition: width 300ms ease;
}

/* Loading animation on hover */
.progress:hover::-webkit-progress-value {
  background-image: linear-gradient(
    135deg,
    var(--color-primary) 25%,
    #ffffff30 25%,
    #ffffff30 50%,
    var(--color-primary) 50%,
    var(--color-primary) 75%,
    #ffffff30 75%,
    #ffffff30
  );
  background-size: 30px 30px;
  animation: progressLoading 1s linear infinite;
}

.progress:hover::-moz-progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--color-primary) 25%,
    #ffffff30 25%,
    #ffffff30 50%,
    var(--color-primary) 50%,
    var(--color-primary) 75%,
    #ffffff30 75%,
    #ffffff30
  );
  background-size: 30px 30px;
  animation: progressLoading 1s linear infinite;
}

@keyframes progressLoading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 30px;
  }
}
