.markdownContent > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(1000px - 100px);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 3rem 0;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.markdownContent > div > figure {
  height: auto;
}

.markdownContent > div > figure > img {
  height: auto;
}
