.tooltip {
  cursor: help;
  position: absolute;
  right: 10px;
  padding: 3px;
  width: 15px;
  height: 15px;
  z-index: 5;
  display: flex;

  @media (max-width: 900px) {
    height: 40px;
    position: absolute;
    width: 40px;
    display: flex;
    top: 5px;
    right: 0px;
    align-items: center;
    justify-content: center;
  }
}

.tooltip > span {
  border-radius: 50%;
  cursor: help;
  height: 10px;
  width: 10px;
}

.tooltip > span[data-played="true"] {
  background: #3cff7a;
}

.tooltip > span[data-played="false"] {
  background: #ff3838;
}
