.welcome {
  max-width: 900px;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .welcomeContainer {
    margin: 3rem auto 5rem auto;
    height: auto;
  }
}

.welcome h1 {
  font-family: var(--font-heading);
  color: var(--color-primary);
  font-size: 80px;
  line-height: 85px;
  margin: 0;
}

.welcome h1 span:first-child {
  color: var(--color-primary);
}

.welcome h1 span:last-child {
  color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
  .welcome p {
    line-height: normal;
  }
}

.welcome p {
  max-width: 500px;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
}
