.welcome > p {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--fraiche-font);
  font-size: 5rem;
  justify-content: unset;
  line-height: 5rem;
  padding: 5rem 0;
}

.welcome p span:nth-child(1) {
  color: rgba(var(--color-calm-blue));
}

.welcome p span:nth-child(2) {
  color: rgba(var(--color-honey-yellow));
}

.welcome p span:nth-child(3) {
  font-family: var(--inter-font);
  font-size: 0.8rem;
  line-height: normal;
  margin-top: 1rem;
  text-align: center;
}

.welcome p span:nth-child(3) > strong {
  color: rgba(var(--color-honey-yellow));
}
