.footer {
  padding-top: 5rem;
}

.content {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 60px 1fr 1fr;
  margin: auto;
  max-width: 900px;
}

.content > p:first-child {
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  display: flex;
  font-size: 1.5rem;
  height: 60px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: var(--color-primary);
}

.content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;

  @media screen and (max-width: 900px) {
    align-items: center;
  }
}

.content > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content a {
  color: var(--font-color-primary);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 1rem;
  justify-content: flex-end;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline wavy;
  text-decoration-color: var(--color-secondary);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1.4px;
  text-underline-offset: 5px;

  @supports (font: -apple-system-body) {
    text-decoration: underline solid;
    font-weight: 800;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
}

.content > div > small:last-child > a {
  @media screen and (max-width: 900px) {
    margin-top: 1rem;
  }
}

.footer > small:last-child {
  display: block;
  margin: 5rem 0;
  padding-bottom: 5rem;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}
