.header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.header h1 {
  text-align: center;
  margin: 1rem auto;
  font-family: var(--font-heading);
  color: var(--color-primary);
  font-size: 80px;
}

.header h3 {
  max-width: 700px;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
  font-size: 1rem;
  margin: auto;
}
