.header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.header h1 {
  text-align: center;
  margin: 1rem auto;
  font-family: var(--font-heading);
  color: var(--color-primary);
  font-size: clamp(1.5rem, 4vw + 1rem, 80px);
}

.header h3 {
  max-width: 700px;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
  font-size: 1rem;
  margin: auto;
}

.pixelfed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
}

.pixelfed > a > figure > img {
  width: 250px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: max-content;
  border: 1px solid #ffffff1a;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: #13131d 0px 1px 3px, #13131d 0px 1px 2px;
  transition: all 0.2s;
}

.pixelfed > a > figure > figcaption {
  font-size: 0.75rem;
  opacity: 0.8;
}

.pixelfed > a > figure > img:hover {
  transform: scale(110%);
}
